
.h1 {
    @apply text-4xl font-extrabold leading-tight tracking-tighter;
}

.h2 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter;
}

.h3 {
    @apply text-3xl font-bold leading-tight;
}

.h4 {
    @apply text-2xl font-bold leading-snug tracking-tight;
}

@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}

.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded-sm leading-snug transition duration-150 ease-in-out;
}

.btn {
    @apply px-8 py-3;
}

.btn-sm {
    @apply px-4 py-2;
}


.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-transparent border border-gray-700 focus:border-gray-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded-sm;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply py-3 px-4;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-500;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-purple-600;
}

.nuxt-content {
    text-align: start
}

.paginationContainer ul{
    @apply inline-flex flex-wrap font-medium text-sm -m-1
}

.pagination li {
    @apply m-1
}

.page-item.first a{
    display: none
} 

.page-item.first.disabled a{
    display: none
} 

.page-item.previous.disabled a {
    @apply inline-flex h-10 justify-center items-center bg-gray-800 px-4 rounded-full text-gray-500 m-1
} 

.page-item.previous a {
    @apply inline-flex h-10 justify-center items-center bg-gray-800 px-4 rounded-full text-gray-300 m-1 cursor-pointer	
}

.page-item.page-number.active a {
    @apply inline-flex h-10 w-10 justify-center items-center bg-amber-400 px-2 rounded-full text-gray-300 hover:bg-amber-400 transition-colors duration-150 m-1 cursor-pointer ease-in-out
}

.page-item.page-number a {
    @apply inline-flex h-10 w-10 justify-center items-center bg-gray-800 px-2 rounded-full text-gray-300 hover:bg-amber-400 transition-colors duration-150 m-1 cursor-pointer ease-in-out
}

.page-item.next.disabled a{
    @apply inline-flex h-10 justify-center items-center bg-gray-800 px-4 rounded-full text-gray-500 m-1
} 

.page-item.last.disabled a{
    display: none
} 

.page-item.next a{
    @apply inline-flex h-10 justify-center items-center bg-gray-800 px-4 rounded-full text-gray-300 m-1 cursor-pointer	
} 

.page-item.last a{
    display: none
} 

.blogArticle p{
    height: 112px;
    overflow: hidden;
}

.blogArticle h3{
    overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;